*{
    margin:0;
    padding:0;

}
html {
background: url("knowback8.jpg") no-repeat center fixed;
background-size: cover;
background-attachment: fixed;
}

 ul {

list-style-type: none;
margin: 0;
padding: 0;
overflow: hidden;
background-color:  rgb(8, 45, 61);
position: -webkit-sticky; 
position: sticky;
top: 0;

}




li {
float: left;
}

li a {
display: block;
color:whitesmoke;
text-align: center;
padding: 10px 20px;
text-decoration: none;
font-family: Georgia ,  serif;
font-weight: bold;
font-style: italic;
}

li a:hover {
background-color:rgb(37, 113, 146);
}
.obj1 .rectangle{
 float:right;
     height:20vh;
     width:70vw;
     border-color: blanchedalmond;
     background-color:whitesmoke;
     z-index: 2;
 }
.obj1 .triangle{
float:right;
width:0;
height:0;
border-top:10vh solid transparent;
border-right:3vw solid  rgb(8, 45, 61);
border-bottom:10vh solid transparent;
z-index: 2;
}
.obj2 .rectangle{
     float:left;
     height:20vh;
     width:70vw;
     border-color: blanchedalmond;
     background-color: whitesmoke;
     z-index: 2;
 }
.obj2 .triangle{
float:left;
width:0;
height:0;
border-top:10vh solid transparent;
border-left:3vw solid   rgb(8, 45, 61);
border-bottom:10vh solid transparent;
z-index: 2;
}
.obj3 .rectangle{
  float:left;
     height:10vh;
     width:100vw;
     background-color: transparent;
     z-index: 1;
}
footer{
float: left;
background-color: rgb(8, 45, 61);
height:10vh;
color:white;
text-align: center;
width:100vw;
}
footer p{
padding: 3vh 0;

}
.matter{
padding:3vh 1vh;
/* font: italic small-caps bold 16px/2 cursive; */
font-family: Georgia ,  serif;
font-weight: bold;
font-style: italic;
font-size: 80%;
overflow: hidden;
color:rgb(8, 45, 61);
text-align: center;

}
span{

animation-name: example;
animation-duration:1s;
animation-iteration-count: infinite;
}
@media screen and (max-width: 600px){
.obj1 .triangle{

border-right:12vw solid  rgb(8, 45, 61);

}

.obj2 .triangle{

border-left:12vw solid  rgb(8, 45, 61);

}

 li a{
width:100vw;
padding:5px 0;
border: 0.1px solid whitesmoke;

}
}
@keyframes example {
0%{ color:rgb(8, 45, 61) ;}

55%{color:red
}
100%{color: rgb(8, 45, 61);}


}
@media screen and (min-width:900px)
{
.matter{

font-size: 150%;
padding:4vh 1vh;

}
}
